
.register-card {
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.card-wrapper {
  width: 100%;
  min-width: 400px; 
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

button {
  width: 100%;
  margin-top: 10px;
}

.title {
  text-align: center;
  margin-bottom: 16px;
  color: #3f51b5;
}

