<div class="max-w-6xl mx-auto p-6 grid grid-cols-1 md:grid-cols-2 gap-8">

  <!-- LEFT: IMAGES -->
  <div>
    <div class="border rounded-2xl overflow-hidden shadow-md 
                flex items-center justify-center
                w-full h-[450px] md:w-[450px] md:h-[450px] bg-white">
      <img
        [src]="selectedImage() || productDetails()!.images[0]?.imageUrl"
        class="max-w-full max-h-full object-contain"
      />
    </div>

    <div class="flex gap-3 mt-4 justify-center">
      <img
        *ngFor="let img of productDetails()?.images"
        [src]="img.imageUrl"
        (click)="setSelectedImage(img.imageUrl)"
        [class.border-blue-500]="img.imageUrl === selectedImage()"
        class="w-20 h-20 object-cover rounded-lg cursor-pointer border-2 border-transparent hover:border-gray-400 transition"
      />
    </div>
  </div>

  <!-- RIGHT: DETAILS -->
  <div class="flex flex-col justify-center items-center md:justify-center gap-4">
    <h2 class="text-3xl font-semibold text-gray-800">
      {{ productDetails()?.name }}
    </h2>

    <p class="text-gray-500 text-sm">SKU: {{ productDetails()?.sku }}</p>

    <div>
      <span class="text-2xl font-bold text-green-600">
        {{ productDetails()?.price | currency : "INR" }}
      </span>
      <span *ngIf="productDetails()?.mrp" class="text-gray-400 line-through ml-3">
        {{ productDetails()?.mrp | currency : "INR" }}
      </span>
    </div>

    <p class="text-gray-700">
      {{ productDetails()?.shortDescription }}
    </p>

    <p class="text-gray-600 text-sm">
      {{ productDetails()?.longDescription }}
    </p>

    <div class="flex gap-4 mt-4">
      <button
        [disabled]="productDetails()?.stockQuantity === 0"
        (click)="addToCart(productDetails()?.id, 1)"
        class="bg-blue-600 text-white px-6 py-2 rounded-xl hover:bg-blue-700 disabled:opacity-50 disabled:cursor-not-allowed"
      >
        {{ productDetails()?.stockQuantity === 0 ? "Out of Stock" : "Add to Cart" }}
      </button>

      <button *ngIf="productDetails()?.stockQuantity! > 0"
        class="bg-green-600 text-white px-6 py-2 rounded-xl hover:bg-green-700"
      >
        Buy Now
      </button>
    </div>
  </div>

</div>
