.search-wrapper {
    margin-top: 10px;
  position: relative;
  display: inline-block;
  width: 300px;
}

.search-box {
  width: 100%;
  padding: 8px 36px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  transition: border-color 0.2s;
}

.clear-btn {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #888;
}

.result {
  position: absolute;
  top: 100%; /* directly below input */
  left: 0;
  width: 100%;
  margin-top: 4px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.result-content {
    max-height: 300px;
    overflow-y: auto;
    /* scrollable area */
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px;
}


.item:hover {
    background-color: aliceblue;
    cursor: pointer;
}
